<!DOCTYPE html>
<html>
  <head>
    <title>Pictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <nav>
      <%= link_to 'All Drawings', words_path %>
       |
      <% if @current_user.present? %>
        <%= link_to 'My Drawings', user_gallery_path %>
         |
        <%= link_to 'Log Out', login_path, method: 'delete' %>
      <% else %>
        <%= link_to 'Login', login_path  %>
         |
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
