<div>
  <h2>Login<h2>
</div>

<div>
  <%= form_tag login_path do %>
    <fieldset>
      <%= label_tag :email %>
      <%= email_field_tag :email, nil %>
    </fieldset>

    <fieldset>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil %>
    </fieldset>

    <%= submit_tag 'Login' %>

  <% end %>
</div>

<div>
  <% if flash[:error] %>
    <strong><%= flash[:error] %></strong>
  <% end %>
</div>
