<%= render partial: 'canvas_js_common' %>

<% if @current_user == @game.drawer %>
  <%= render partial: 'canvas_js_drawer' %>
  <%= render partial: 'drawer_play' %>
<% else %>
  <%= render partial: 'canvas_js_guesser' %>
  <%= render partial: 'guesser_play' %>
<% end %>

<div id="canvasContainer">
</div>

<div class="timer"></div>
