<!DOCTYPE html>
<html>
  <head>
    <title>How Do You Doodle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="wrapper">

      <%= yield %>

    </div> <!-- wrapper -->
  </body>

</html>
